@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
body {
  overflow-x: hidden;
  height: auto;
}

html {
  scroll-behavior: smooth;
  height: auto;
}

a,
.btn {
  transition: all 0.3s ease;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*navbar*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: #000000d2;
  padding-left: 35px;
  padding-right: 30px;
}

.logo {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: default;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 17px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #0077ff;
  transition: all 0.3s ease;
  text-underline-offset: 0.7rem;
}

.home-title {
  font-size: 5rem;
}
.home-description {
  font-size: 2rem;
  color: rgb(97, 95, 95);
  padding-top: 0.4rem;
  padding-bottom: 1rem;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
}

.nav-links-mobile {
  display: none;
}
/*home*/

.section {
  box-sizing: border-box;
}

.home {
  background-color: rgba(255, 255, 255, 0.884);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.perfil-pic {
  height: 450px;
  display: flex;
}

.home-content {
  display: flex;
  width: 100%;
  height: auto;
  row-gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-links {
  display: flex;
  gap: 1.5rem;
}
.icon {
  width: 4vh;
  cursor: pointer;
  padding-top: 0.4rem;
}
.home-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-size: 18px;
  height: 3.5rem;
  width: 10rem;
  border-radius: 0.5rem;
  border: solid #0056b8 1px;
  background: #004faa;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
  color: white;
  border-color: white;
}

.a-btn-cv {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.a-btn-cv:hover {
  color: white;
}

/*sobre*/

.about {
  display: flex;
  height: 70vh;
  background-color: #00000018;
  justify-content: space-between;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.about-content-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-about {
  display: block;
  object-fit: cover;
  width: 550px;
  height: 550px;
}
.about-content-text {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}
.about-title {
  width: 100%;
  font-size: 45px;
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.about-text {
  display: flex;
  padding-right: 2rem;
  font-size: 19px;
  justify-content: center;
  align-items: center;
}

/* tecnologias */

.tecnologias {
  background-color: rgb(255, 255, 255);
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px 0 16px;
}

.tecnologias-title {
  display: flex;
  padding-top: 1rem;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.tecnologias-content {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  gap: 4rem;
}

.tecnologias-icons {
  height: 70px;
  width: 70px;
  display: block;
  object-fit: contain;
}

/*projetos*/
.projects {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0 4rem;
}

.projects-content {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.project-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-icons {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 95%;
}

.project-1,
.project-2,
.project-4,
.project-3 {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  padding: 20px;
  height: 30rem;
  width: 70rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.project-2,
.project-4 {
  flex-direction: row-reverse;
  align-items: center;
}
.icons-text-1,
.icons-text-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-right: 55px;
  padding-left: 55px;
  padding-top: 10px;
}

.icons-text-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
}

.p-text-1,
.p-text-2,
.p-text-3 {
  padding-left: 50px;
}

.img-project-1,
.img-project-2,
.img-project-3 {
  display: block;
  width: 38rem;
  height: 30rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.botoes-projetos {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn.buttons-project {
  height: 18%;
  width: 9rem;
}

/*contatos*/
.contact {
  background-color: #00000018;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-text {
  font-size: 28px;
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}
.text-contact-content {
  margin: 20px;
  text-align: center;
}

.buttons-form {
  width: 46vh;
}

/* footer */
.footer {
  height: 15vh;
  background-color: #000000d2;
}

.footer-container {
  height: 100%;
  padding: 0px 1rem 0px 1rem;
  margin: 0px 3.5rem 0px 3.5rem;
}
.footer-content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.location {
  cursor: default;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.e-mail {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.copyrt {
  font-size: 15px;
}
/* responsividade */

@media (max-width: 1600px) {
  .home {
    display: flex;
  }

  .perfil {
    display: flex;
    width: 40%;
  }
}

@media (max-width: 1440px) {
  .home-title {
    font-size: 70px;
  }
}
.projects {
  margin: 0;
  padding: 0;
}
.project-icons {
  padding: 0;
  margin: 0;
}

@media (max-width: 1400px) {
  .about-title {
    font-size: 40px;
  }

  .about-text {
    font-size: 16px;
  }
}

@media (max-width: 1250px) {
  .home-title {
    font-size: 65px;
  }

  .project-1,
  .project-2,
  .project-4,
  .project-3 {
    height: 25rem;
    width: 63rem;
  }
  .img-project-1,
  .img-project-2,
  .img-project-3 {
    width: 33rem;
    height: 25rem;
  }
}
@media (max-width: 1150px) {
  .home-title {
    font-size: 60px;
  }
  .project-text {
    margin-top: 35px;
  }
  .about-title {
    font-size: 40px;
  }
  .img-about {
    display: block;
    object-fit: cover;
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 1070px) {
  .home-title {
    font-size: 55px;
  }
  .home-description {
    font-size: 30px;
  }

  .perfil-pic {
    width: 400px;
    height: auto;
  }

  .about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .about-content-text {
    width: 80%;
    height: auto;
  }
  .about-title {
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 40px;
  }

  .about-text {
    width: 100%;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .about-content-img {
    width: 100%;
    height: auto;
  }

  .project-1,
  .project-2,
  .project-4,
  .project-3 {
    flex-direction: column;
    justify-content: space-between;
    height: 50rem;
    width: 33rem;
    margin: 25px;
  }
  .img-project-1,
  .img-project-2,
  .img-project-3 {
    width: 33rem;
    height: 25rem;
  }
  .icons-text-1,
  .icons-text-3 {
    width: 100%;
    height: 45%;
    margin: 0;
    padding: 0;
  }
  .icons-text-2 {
    width: 100%;
    height: 45%;
    margin: 0;
    padding: 0;
  }
  .btn.buttons-project {
    height: 40px;
  }

  .p-text-1,
  .p-text-2,
  .p-text-3 {
    padding: 20px;
  }
}
@media (max-width: 990px) {
  .img-about {
    width: 490px;
    height: 490px;
  }
}

@media (max-width: 970px) {
  .home-title {
    font-size: 50px;
  }
  .home-description {
    font-size: 25px;
  }
}
@media (max-width: 940px) {
  .perfil {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-size: 55px;
  }
  .home-container {
    flex-direction: column;
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 927px) {
  .about {
    gap: 10px;
  }
}

@media (max-width: 900px) {
  .about-text {
    font-size: 15px;
    line-height: 23px;
  }
  .img-about {
    width: 450px;
    height: 420px;
  }
}

@media (max-width: 811px) {
  .buttons-project {
    height: 3rem;
    width: 90px;
    font-size: 16px;
  }
  .project-1,
  .project-2,
  .project-3 {
    min-height: 55%;
    min-width: 45%;
  }
  .project-icons {
    padding: 0;
    margin: 0;
  }

  .about {
    gap: 7px;
  }
  .about-text {
    font-size: 15px;
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  .menu-mobile-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background-color: #000000d2;
    display: flex;
    justify-content: center;
  }

  .nav-links-mobile {
    background-color: #00000000;
    margin-right: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    gap: 5rem;
  }
  .nav-links-mobile li {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }
  .nav-links-mobile a {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .nav-links-mobile a:hover {
    color: #0077ff;
  }

  .nav-links-mobile span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
  }
  .nav-links-mobile span:hover {
    color: #0077ff;
  }

  .mobile-menu {
    cursor: pointer;
    display: block;
  }

  .menu-mobile-links {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .open {
    display: block;
  }

  .about-content-text {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .about-title {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-text {
    font-size: 15px;
    line-height: 18px;
    padding: 0px;
  }
}

.buttons-project {
  height: 40px;
  width: 80px;
  font-size: 14px;
}

@media (max-width: 670px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .about {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
  }
  .about-text {
    width: 100%;

    padding-right: 0;
    padding-bottom: 5px;
  }
  .tecnologias {
    margin-top: 48px;
  }

  .buttons-project {
    height: 37px;
    width: 70px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .perfil-pic {
    width: 380px;
    height: auto;
  }

  .about-title {
    font-size: 35px;
  }

  .project-1,
  .project-2,
  .project-4,
  .project-3 {
    flex-direction: column;
    justify-content: space-between;
    height: 45rem;
    width: 30rem;
    margin: 25px;
  }
  .img-project-1,
  .img-project-2,
  .img-project-3 {
    width: 30rem;
    height: 25rem;
  }
  .icons-text {
    width: 100%;
    height: 45%;
    margin: 0;
  }
}

.footer-content {
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 550px) {
  .home-title {
    font-size: 50px;
  }
  .btn-home {
    width: 130px;
    height: 48px;
  }
  .about-title {
    font-size: 30px;
  }
  .project-1,
  .project-2,
  .project-4,
  .project-3 {
    flex-direction: column;
    justify-content: space-between;
    height: 45rem;
    width: 25rem;
    margin: 25px;
  }
  .img-project-1,
  .img-project-2,
  .img-project-3 {
    width: 25rem;
    height: 23rem;
  }
  .icons-text {
    width: 100%;
    height: 45%;
    margin: 0;
  }
  .footer {
    height: 25vh;
  }
}

@media (max-width: 500px) {
  .about-title {
    font-size: 30px;
  }
  .perfil-pic {
    width: 350px;
    height: auto;
  }

  .home-title {
    font-size: 45px;
  }
  .home-description {
    font-size: 23px;
  }
  .btn-home {
    width: 120px;
    height: 45px;
  }

  .img-about {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 480px) {
  .project-1,
  .project-2,
  .project-4,
  .project-3 {
    flex-direction: column;
    justify-content: space-between;
    height: 44rem;
    width: 23rem;
    margin: 25px;
  }
  .img-project-1,
  .img-project-2,
  .img-project-3 {
    width: 23rem;
    height: 23rem;
  }
  .buttons-form {
    width: 350px;
  }
  .contact-text {
    font-size: 18px;
  }
}

@media (max-width: 445px) {
  .about-title {
    font-size: 30px;
  }
  .footer-container {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .about-title {
    font-size: 28px;
  }

  .img-project-1,
  .img-project-2,
  .img-project-3 {
    width: 23rem;
    height: auto;
  }
}

@media (max-width: 424px) {
  .project-1,
  .project-2,
  .project-4,
  .project-3 {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 21rem;
    margin: 25px;
  }
  .img-project-1,
  .img-project-2,
  .img-project-3 {
    width: 20rem;
    height: auto;
  }

  .icons-text-1,
  .icons-text-2,
  .icons-text-3 {
    padding-top: 20px;
  }
}

@media (max-width: 400px) {
  .perfil-pic {
    width: 300px;
  }

  .img-about {
    width: 360px;
    height: 360px;
  }

  .about-content-text {
    gap: 1.5rem;
    height: auto;
  }
  .about-title {
    font-size: 26px;
  }

  .project-1,
  .project-2,
  .project-4,
  .project-3 {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 19rem;
    margin: 25px;
  }
  .img-project-1,
  .img-project-2,
  .img-project-3 {
    width: 17rem;
    height: auto;
  }
}

@media (max-width: 360px) {
  .logo {
    font-size: 20px;
  }
  .perfil-pic {
    width: 250px;
  }

  .home-title {
    font-size: 40px;
  }
  .home-description {
    font-size: 20px;
  }

  .about-title {
    font-size: 24px;
  }

  .img-about {
    width: 320px;
    height: 320px;
  }

  .project-1,
  .project-2,
  .project-4,
  .project-3 {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 16rem;
    margin: 25px;
  }
  .img-project-1,
  .img-project-2,
  .img-project-3 {
    width: 13rem;
    height: auto;
  }

  .btn.buttons-project {
    width: 7rem;
  }

  .project-icons-title {
    font-size: 25px;
  }

  .buttons-form {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .about-title {
    font-size: 25px;
  }
  .about-text {
    padding-top: 0px;
  }

  .buttons-form {
    width: 300px;
  }
  .h1-contact {
    font-size: 34px;
  }
}
